.section-etnias {
    background-image: url(../images/etnias.png);
    background-color: $orange-dark;
    background-size: cover;
    text-align: center;
    margin-top: 100px;
    height: auto;
    width: 100%;
    position: relative;

    @include media-breakpoint-down(md) {
        margin-top: 0;

        .container {
            padding: 0;
        }
    }

    .se-title {
        text-transform: uppercase;
        color: $yellow-pure;
        text-align: center;
        padding-top: 90px;
        font-weight: 700;
        font-size: 30px;
        margin: 0 auto;
    }

    .line-bottom {
        &:after {
            top: 30%;
        }
    }
}
