.section-etnias {
    background-image: url(../images/etnias.svg);
    background-color: $orange-dark;
    background-size: cover;
    text-align: center;
    margin-top: 100px;
    height: auto;
    width: 100%;

    .se-title {
        text-transform: uppercase;
        color: $yellow-pure;
        text-align: center;
        padding-top: 90px;
        font-weight: 700;
        font-size: 30px;
        margin: 0 auto;
    }
}


    .owl-carousel {
        padding-top: 70px;
        
        .owl-item {
            
            a {
                width: 150px !important;
                display: block;
                height: 160px;
            }
            
            .own-title {
                transform: translate(-50%, -50%);
                text-decoration: none;
                text-align: center;
                position: absolute;
                margin-right: -50%;
                font-weight: 700;
                font-size: 13px;
                color: $white;
                height: 100%;
                width: 100%;
                left: 50%;
                top: 95%;
            }
        }

        .owl-nav {
            position: absolute;
            top: 59%;
            left: 0;
            right: 0;

            > .owl-next,
            > .owl-prev {
                position: absolute;
                font-size: 20px;
                color: $white;
                bottom: auto;
            }

            .owl-prev {
                left: -30px;

        //         &:hover {
        //             background: transparent;
        //             color: $orange-vivid;
        //         }

        //         &:focus {
        //             outline: transparent;
        //         }
            }

            .owl-next {
        //         position: absolute;
        //         font-size: 35px;
        //         color: $white;
                right: -30px;
        //         top: 80px;
        //         bottom: 0;

        //         &:hover {
        //             background: transparent;
        //             color: $orange-vivid;
        //         }

        //         &:focus {
        //             outline: transparent;
        //         }
            }

        }
    }
    