select.form-control {
    appearance: none;
    background-image: url(../images/select.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 97% -266%;
}

.form-control {
    border-radius: 3px !important;
    height: 49px !important;
    font-size: 18px;
    box-shadow: none;
    padding: 5px 30px;
    background-color: #fff;

    @include media-breakpoint-down(xs) {
        font-size: 16px;
        padding: 5px 20px;
    }

    &:focus {
        border-color: transparent;
        box-shadow: none;
    }
}
