.section-map {
    text-align: center;
    position: relative;
    padding: 100px 0;
    width: auto;

    @include media-breakpoint-down(md) {
        padding-bottom: 0;
    }

    .sm-title {
        color: #95b515;
        font-size: 35px;
        font-weight: 700;
        padding-bottom: 13px;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        
        @include media-breakpoint-only(xl) {
            font-size: 31px;
            top: -11%;
            left: 0%;
        }
        
        @include media-breakpoint-down(lg) {
            font-size: 24px;
            top: -9%;
        }
        
        @include media-breakpoint-down(md) {
            top: -10.2%;
            font-size: 20px;
        }

        &:after {
            background-color: #95b515;
            height: 4px;
        }        
    }

    .map-container {
        background-color: #e9f9ce;
        position: relative;
        width: 80%;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    img {
        display: none;
    }

    .svg {
        transform: translateY(50px);
        max-width: 575px;
        height: auto;
        width: 100%;

        @include media-breakpoint-down(md) {
            transform: translateY(0);
            margin: 30px auto;
        }

        // Todas regiões
        .regiao:hover path,
        .regiao.active path {
            fill: #95b514
        }

        // .RegiaoNorte { fill: #b7c199 }       // Região Norte
        // .RegiaoNordeste { fill: #b7c199 }    // Região Nordeste
        // .RegiaoCentroOeste { fill: #b7c199 } // Região Centro-Oeste
        // .RegiaoSudeste { fill: #b7c199 }     // Região Sudeste
        // .RegiaoSul { fill: #b7c199 }         // Região Sul

        path {
            transition: fill 100ms ease-in-out;
            fill: #b7c199;
        }
    }

    .photo-info {
        position: absolute;
        height: 500px;
        width: 500px;
        right: -200px;
        top: 50px;
    }

    .sm-info {
        background-image: url(../images/map2.png);
        background-size: cover;
        width: 500px;
        height: 500px;
        color: white;
        font-size: 14px;
        text-align: left;
        position: absolute;
        top: 50px;
        z-index: 1;
        right: -200px;

        @include media-breakpoint-down(md) {
            position: relative;
            width: 100%;
        }

        @include media-breakpoint-down(lg) {
            top: 0;
            right: 0;
        }
        
        &:after {
            content: '';
            background-color: #95b515;
            position: absolute;
            opacity: 0.85;
            z-index: -1;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
        }

        img {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 1%;
            left: 10%;
        }

        .info-title {
            color: #ccff00;
            font-size: 30px;
            font-weight: 700;
        }

        .info-list {
            padding-left: 15px;
            margin-top: 30px;
            
            a {
                color: white;
                font-size: 18px;
                line-height: 27px;

                span {
                    font-size: 13px;
                }
            }
        }

        .regiao {
            transition: opacity 200ms ease;
            position: absolute;
            padding: 50px;
            opacity: 0;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;

            &.active {
                opacity: 1;
            }
        }
    }
}
