.navbar {
    background-color: $white;
}

.navbar-nav {
    .nav-item {
        .nav-link {
            color: $green-dark;

            &:hover {
                color: $green-strong;
            }
        }
    }

    .active {
        .nav-link {
            color: $green-strong !important;
        }
    }
}

.footer {
    .navbar {
        background-color: transparent;
    }

    .navbar-nav {
        font-size: 13px;

        .nav-link {
            color: #90AA83;
        }

        .active {
            .nav-link {
                color: #90AA83 !important;
            }
        }
    }
}