nav.main-menu {
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(black, 0.1);

    .navbar-nav {
        .nav-item {
            font-size: 15px;

            .nav-link {
                padding-left: 1rem;
                padding-right: 1rem;
                color: #318107;
            }
    
            &.active,
            &:hover {
                .nav-link {
                    color: #71B42D;
                }
            }
        }
    }
}
