.partners {
    margin-bottom: 70px;
    
    .partners-title {
        text-align: center;
        padding-bottom: 10px;
        margin-bottom: 40px;
        border-bottom: 0.5px solid #90AA83;
        
        h2 {
            font-size: 20px;
        }
    }
    
    .partners-item {
        width: 100px;
        height: 100px;
        background-color: #b1b1b1;
        border-radius: 50%;
        margin: auto;

        @include media-breakpoint-down(xs) {
            margin-bottom: 15px;
        }
    }
}
    