.theme-content {
    margin: 100px auto 80px auto;
    width: 70%;

    @include media-breakpoint-down(xs) {
        margin: 50px 0;
        width: 100%;
    }

    .theme-header {
        border-bottom: 1px solid #90AA83;

        @include media-breakpoint-down(xs) {
            position: relative;
        }

        .theme-title {
            color: #EDC900;
            font-size: 35px;
            font-weight: 700;
            display: inline-block;

            &:after {
                left: 5%;
                transform: translateX(0);

                @include media-breakpoint-down(xs) {
                    top: 112%;
                }
            }
        }

        .a-z {
            display: block;

            @include media-breakpoint-down(xs) {
                position: absolute;
                left: 10px;
                right: 10px;
                bottom: -120px;
                border-bottom: 1px solid #90AA83;
                padding-bottom: 5px;
            }

            .page-item {
                padding: 0;
                display: inline-block;

                &:first-child,
                &:last-child {
                    .page-link {
                        color: #90AA83;
                        font-size: 16px;
                        margin-top: 0px;

                        &:hover {
                            background-color: #e9ecef;
                        }
                    }
                }

                .page-link {
                    font-size: 16px;
                    border: none;
                    padding: 5px;

                    &:hover {
                        background-color: #e9ecef;
                        transition: 0.6s;
                    }
                }

                .active {
                    color: #448C1E;
                    font-weight: 700;
                }
            }
        }
    }

    nav {
        margin: auto;
    }

    h2 {
        @include media-breakpoint-down(xs) {
            margin-top: 118px !important;
            font-size: 18px;
        }
    }

    p {
        @include media-breakpoint-down(xs) {
            font-size: 14px;
        }
    }
}