.theme {
    background-image: linear-gradient(to top, #537143, #64A045);
    text-align: center;
    margin-top: 100px;
    height: auto;
    width: 100%;
    position: relative;

    .theme-title {
        border-bottom: 0.5px solid #90AA83;
        padding-bottom: 5px;
        position: relative;
        text-align: center;
        width: 100%;
        top: -17px;
        right: 0;
        left: 0;
        
        h2 {
            text-transform: uppercase;
            font-weight: 700;
            color: #EDC900;
            font-size: 30px;
        }
    }
}
