.theme-content {
    margin: 100px auto 80px auto;
    width: 70%;

    @include media-breakpoint-down(sm) {
        margin: 30px 0;
        width: 100%;
    }

    .theme-header {
        border-bottom: 1px solid #90AA83;
        margin-bottom: 50px;

        @include media-breakpoint-down(md) {
            position: relative;
            margin-bottom: 120px;
        }

        .theme-title {
            color: #EDC900;
            font-size: 35px;
            font-weight: 700;
            display: inline-block;

            &:after {
                left: 5%;
                transform: translateX(0);
                background-color: #EDC900;

                @include media-breakpoint-down(md) {
                    top: 112%;
                    left: 3%;
                }
            }
        }

        h2{
            @include media-breakpoint-only(lg) {
                margin-top: 20px;
            }
        }

        .a-z {
            display: block;

            @include media-breakpoint-down(xs) {
                bottom: -120px !important;
            }
            
            @include media-breakpoint-down(md) {
                padding-bottom: 5px;
                left: 10px;
                right: 10px;
                border-radius: 0;
                border-bottom: 1px solid #90AA83;
                bottom: -90px;
                position: absolute;
            }

            .page-item {
                padding: 0;
                display: inline-block;

                &:first-child,
                &:last-child {
                    .page-link {
                        color: #90AA83;
                        font-size: 16px;
                        margin-top: 0px;

                        &:hover {
                            background-color: #e9ecef;
                        }
                    }
                }

                .page-link {
                    font-size: 16px;
                    border: none;
                    padding: 5px;
                    color: #90AA83;

                    &:hover {
                        background-color: #e9ecef;
                        transition: 0.6s;
                    }
                }

                .active {
                    color: #448C1E;
                    font-weight: 700;
                }
            }
        }
    }

    h3 {
        font-size: 22px;
        color: #4C6438;
        font-weight: 700;
        margin-bottom: 0;

        @include media-breakpoint-down(sm) {
            font-size: 18px;
        }
    }

    p {
        font-size: 16px;
        color: #666A63;
        text-align: justify;

        @include media-breakpoint-only(sm) {
            font-size: 14px;
        }
    }

    nav {
        margin: auto;
    }
}

.pagination {
    color: #90AA83;
    font-size: 14px;
    align-items: baseline;

    .page-link {
        border: none;
        color: #90AA83;
        background-color: transparent;
    }

    .page-item:first-child {
        .page-link {
            color: #D2DDCD;
        }
    }

    .page-item:last-child {
        .page-link {
            color: #71B42D;
        }
    }
}