// Fonts
$primary: 'Montserrat', sans-serif;

// colors
$green-dark:            #318107;
$green-strong:          #71B42D;
$green-grayish:         #90AA83;
$green-grayish-dark:    #90AA83;
$orange-dark:           #B1831D;
$orange-vivid:          #FFB426;
$yellow-pure:           #EDC900;
$yellow-light:          #FFE038;
